<% if (post.categories && post.categories.length) { %>
    <div class="article-category">
        <%- wikiflow_icon('folder') %>
        <%- partial('_partials/post/taxonomy-links', {
            items: post.categories,
            class_name: 'article-category-link',
            separator: wikiflow_icon('angle-right')
        }) %>
    </div>
<% } %>
