<% if (post.tags && post.tags.length) { %>
    <div class="article-tag">
        <%- wikiflow_icon('tag') %>
        <%- partial('_partials/post/taxonomy-links', {
            items: post.tags,
            class_name: 'article-tag-link',
            separator: ' '
        }) %>
    </div>
<% } %>
