<% if (post.tags && post.tags.length) { %>
    <div class="article-tag">
        <i class="fa-solid fa-tag"></i>
        <%- partial('_partials/post/taxonomy-links', {
            items: post.tags,
            class_name: 'article-tag-link',
            separator: ' '
        }) %>
    </div>
<% } %>
