.outer
    clearfix()
    max-width: (column-width + gutter-width) * columns * 2
    margin: 0 auto
    padding: 0 gutter-width
    @media mq-mini
        padding: 0

.logo
    width: logo-width
    height: logo-height
    background-repeat: no-repeat
    background-image: url(logo-url)
    background-size: logo-width logo-height

#container
    display: flex
    min-height: 100vh
    flex-direction: column
    position: relative
    & > .outer
        box-sizing: border-box
        flex: 1
        margin-bottom: 30px
        width: 100%

#main
    @media mq-normal
        column(main-column)
    @media mq-tablet
        if sidebar
            column(main-column-tablet)
        else
            width: 100%
    @media mq-mobile
        width: 100%
    @media mq-mini
        width: 100%
