#sidebar
    grid-area: unquote("sidebar")
    min-width: 0
    width: 100%
    @media mq-mini
        margin-top: 20px
    @media mq-mobile
        margin-top: 20px
    @media mq-normal
        width: 100%
    @media mq-tablet
        width: 100%
