#sidebar
    grid-area: unquote("sidebar")
    min-width: 0
    width: 100%
    @media mq-mini
        display: contents
    @media mq-mobile
        display: contents
    @media mq-normal
        width: 100%
    @media mq-tablet
        width: 100%
