<%
    var sidebarWidgets = (theme.widgets || []).filter(function(widget) {
        return widget !== 'category' || site.categories.length;
    });
    var sidebarTocContent = page && page.toc !== false ? wikiflow_toc(page) : '';
    var hasSidebarToc = page && page.toc !== false && sidebarTocContent && String(sidebarTocContent).trim();
%>
<aside id="sidebar">
    <% if (hasSidebarToc && sidebarWidgets.indexOf('category') === -1) { %>
        <%- partial('_partials/post/toc', { post: page, variant: 'sidebar', tocContent: sidebarTocContent }) %>
    <% } %>
    <% sidebarWidgets.forEach(function(widget) { %>
        <% if (widget === 'category') { %>
            <%- partial('_partials/widgets/category', { sidebarTocContent: hasSidebarToc ? sidebarTocContent : '' }) %>
        <% } else { %>
            <%- partial('_partials/widgets/' + widget) %>
        <% } %>
    <% }) %>
    <button id="toTop" class="fa-solid fa-angle-up" type="button" aria-label="<%= __('nav.top') %>"></button>
</aside>
