<% if (site.tags.length) { %>
    <% var tags = site.tags.sort('name').toArray(); %>
    <div class="widget-wrap">
        <h3 class="widget-title"><span><%= __('widget.tags') %></span></h3>
        <div class="widget">
            <ul class="tag-list" itemprop="keywords">
                <% tags.forEach(function(tag) { %>
                    <li class="tag-list-item">
                        <a class="tag-list-link" href="<%= url_for(tag.path) %>" rel="tag"><%= tag.name %></a>
                        <span class="tag-list-count"><%= tag.length %></span>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
<% } %>
