<a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><i class="fa-solid fa-share"></i><%=__('article.share')%></a>
<script>
    (function () {
        if (window.__SHARE_BUTTON_BINDED__) return;
        window.__SHARE_BUTTON_BINDED__ = true;

        function closeShareBoxes() {
            document.querySelectorAll('.article-share-box.on').forEach(function (box) {
                box.classList.remove('on');
                box.style.display = '';
            });
        }

        function createShareLink(href, className, title) {
            var link = document.createElement('a');
            link.href = href;
            link.className = className;
            link.target = '_blank';
            link.rel = 'noopener noreferrer';
            link.title = title;
            return link;
        }

        function createShareBox(id, url) {
            var encodedUrl = encodeURIComponent(url);
            var box = document.createElement('div');
            var input = document.createElement('input');
            var links = document.createElement('div');

            box.id = id;
            box.className = 'article-share-box';
            input.className = 'article-share-input';
            input.value = url;
            links.className = 'article-share-links';
            links.appendChild(createShareLink('https://twitter.com/intent/tweet?url=' + encodedUrl, 'fa-brands fa-x-twitter article-share-twitter', 'Twitter'));
            links.appendChild(createShareLink('https://www.facebook.com/sharer.php?u=' + encodedUrl, 'fa-brands fa-facebook article-share-facebook', 'Facebook'));
            links.appendChild(createShareLink('https://pinterest.com/pin/create/button/?url=' + encodedUrl, 'fa-brands fa-pinterest article-share-pinterest', 'Pinterest'));
            box.appendChild(input);
            box.appendChild(links);
            document.body.appendChild(box);

            return box;
        }

        document.body.addEventListener('click', function (event) {
            var shareLink = event.target.closest('.article-share-link');
            var shareBox = event.target.closest('.article-share-box');
            var shareInput = event.target.closest('.article-share-input');
            var shareBoxLink = event.target.closest('.article-share-links a');

            if (shareLink) {
                event.stopPropagation();

                var url = shareLink.getAttribute('data-url');
                var id = 'article-share-box-' + shareLink.getAttribute('data-id');
                var offset = shareLink.getBoundingClientRect();
                var box = document.getElementById(id);

                if (box && box.classList.contains('on')) {
                    box.classList.remove('on');
                    return;
                }

                if (!box) {
                    box = createShareBox(id, url);
                }

                closeShareBoxes();
                box.style.top = window.scrollY + offset.top + 25 + 'px';
                box.style.left = window.scrollX + offset.left + 'px';
                box.classList.add('on');
                return;
            }

            if (shareBox) {
                event.stopPropagation();
                if (shareInput) shareInput.select();
                if (shareBoxLink) {
                    event.preventDefault();
                    window.open(shareBoxLink.href, 'article-share-box-window-' + Date.now(), 'width=500,height=450');
                }
                return;
            }

            closeShareBoxes();
        });
    })();
</script>
