<button type="button" data-url="<%= post.permalink %>" data-id="<%= post._id %>" class="article-share-link" aria-label="<%= __('article.share') %>" aria-expanded="false"><i class="fa-solid fa-share"></i><%=__('article.share')%></button>
